.theme1 {
    background-color: lightblue;
    color: darkblue;
}

.theme2 {
    background-color: lightgreen;
    color: darkgreen;
}
 
.theme3 {
    background-color: lightpink;
    color: darkred;
}